/* tags */

body {
    background-color: #63abec;
}

footer {
    font-size: 12px;
    color: #135998;
}

h4 {
    font-size: 40px;
    color: #135998;
    padding-left: 10px;
    padding-top: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

li {
    list-style-type: none;
}

p {
    color: #1871c2;
    font-size: 30px;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* class */

.catfat {
    padding-left: 24px;
}

.catff {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.container {
    padding: 0px;
    margin: 0px;
}

.heee {
    background-color: #278be4;
    color: #0d4372;
}

.hi {
    background-color: #63abec;
}

.padss {
    padding-left: 40px;
    padding-top:20px;
    font-size: 30px;
    color: #0f4677;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* double + */

.padd .ratart {
    padding-left: 25px;
}

/* screens */

@media screen and (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
}
@media screen and (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}