.hi {
    background-color: #63abec;
}

.container {
    padding: 0px;
    margin: 0px;
}

.catff {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

body {
    background-color: #63abec;
}

.heee {
    background-color: #278be4;
    color: #0d4372;
}

p {
    color: #1871c2;
    font-size: 30px;
    padding: 10px;
}

footer {
    font-size: 12px;
    color: #135998;
}

li {
    list-style-type: none;
}

h4 {
    font-size: 40px;
    color: #135998;
}

.padss {
    padding-left: 40px;
    padding-top:20px;
    font-size: 30px;
    color: #0f4677;
}